<div class="masthead-content text-white">
    <div class="container-fluid px-4 px-lg-0">
        <h1 class="fst-italic lh-1 mb-4">Playlist Created</h1>
        <div style="text-align:center;">
            <a class="btn btn-primary" target="_blank" href="{{ playlist_url }}"><img
                    style="width:20px;margin: 5px;margin-left: 0px;margin-bottom: 8px;"
                    src="static/assets/img/spotify-icon.png" alt="spotify-logo" border="0"/> Open playlist </a>
        </div>
    </div>
</div>